--
-- PostgreSQL database dump
--

\restrict nw6hBCj3yugiSx0hTDzGfZzyRMqH3IzHAa7peV0tJ27o9PFf0gTfHP09A5Q9AmD

-- Dumped from database version 16.15
-- Dumped by pg_dump version 16.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: audit_events; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.audit_events (
    id integer NOT NULL,
    actor_id integer,
    action character varying(120) NOT NULL,
    entity_type character varying(64) NOT NULL,
    entity_id character varying(64) NOT NULL,
    details json NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: audit_events_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.audit_events_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: audit_events_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.audit_events_id_seq OWNED BY public.audit_events.id;


--
-- Name: challenge_completions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.challenge_completions (
    id integer NOT NULL,
    user_id integer NOT NULL,
    challenge_id integer NOT NULL,
    completed_at timestamp with time zone DEFAULT now() NOT NULL,
    awarded_points integer NOT NULL
);


--
-- Name: challenge_completions_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.challenge_completions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: challenge_completions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.challenge_completions_id_seq OWNED BY public.challenge_completions.id;


--
-- Name: challenge_flags; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.challenge_flags (
    id integer NOT NULL,
    challenge_id integer NOT NULL,
    label character varying(120) NOT NULL,
    flag_hash character varying(512),
    validator character varying(32) NOT NULL,
    flag_order integer NOT NULL,
    is_active boolean NOT NULL,
    mode character varying(16) DEFAULT 'static'::character varying,
    template character varying(512)
);


--
-- Name: challenge_flags_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.challenge_flags_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: challenge_flags_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.challenge_flags_id_seq OWNED BY public.challenge_flags.id;


--
-- Name: challenge_group_assignments; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.challenge_group_assignments (
    id integer NOT NULL,
    challenge_id integer NOT NULL,
    group_id integer NOT NULL,
    created_by integer,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: challenge_group_assignments_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.challenge_group_assignments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: challenge_group_assignments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.challenge_group_assignments_id_seq OWNED BY public.challenge_group_assignments.id;


--
-- Name: challenge_instances; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.challenge_instances (
    id integer NOT NULL,
    challenge_id integer NOT NULL,
    vm_asset_id integer NOT NULL,
    run_id integer,
    user_id integer,
    state character varying(20) NOT NULL,
    ip_address character varying(64),
    guacamole_connection_id character varying(160),
    guacamole_access_granted boolean NOT NULL,
    guacamole_access_preexisting boolean NOT NULL,
    reserved_at timestamp with time zone,
    expires_at timestamp with time zone,
    last_error character varying(500),
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: challenge_instances_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.challenge_instances_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: challenge_instances_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.challenge_instances_id_seq OWNED BY public.challenge_instances.id;


--
-- Name: challenge_run_flags; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.challenge_run_flags (
    id integer NOT NULL,
    run_id integer NOT NULL,
    flag_id integer NOT NULL,
    flag_hash character varying(512) NOT NULL,
    fingerprint character varying(64) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: challenge_run_flags_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.challenge_run_flags_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: challenge_run_flags_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.challenge_run_flags_id_seq OWNED BY public.challenge_run_flags.id;


--
-- Name: challenge_runs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.challenge_runs (
    id integer NOT NULL,
    user_id integer NOT NULL,
    challenge_id integer NOT NULL,
    status character varying(32) NOT NULL,
    workspace_strategy character varying(32) NOT NULL,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    closed_at timestamp with time zone
);


--
-- Name: challenge_runs_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.challenge_runs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: challenge_runs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.challenge_runs_id_seq OWNED BY public.challenge_runs.id;


--
-- Name: challenges; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.challenges (
    id integer NOT NULL,
    code character varying(64) NOT NULL,
    name character varying(160) NOT NULL,
    description text NOT NULL,
    instructions text NOT NULL,
    difficulty character varying(16) NOT NULL,
    mitre_technique character varying(64) NOT NULL,
    asset_references json NOT NULL,
    points integer NOT NULL,
    is_published boolean NOT NULL,
    created_by integer,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    category character varying(48) DEFAULT 'MISC'::character varying,
    scenario character varying(64),
    time_limit_min integer DEFAULT 60 NOT NULL,
    flag_path character varying(255) DEFAULT '/opt/ctf/flags/{CODE}_{ORDER}.txt'::character varying NOT NULL
);


--
-- Name: challenges_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.challenges_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: challenges_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.challenges_id_seq OWNED BY public.challenges.id;


--
-- Name: group_memberships; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.group_memberships (
    id integer NOT NULL,
    group_id integer NOT NULL,
    user_id integer NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: group_memberships_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.group_memberships_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: group_memberships_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.group_memberships_id_seq OWNED BY public.group_memberships.id;


--
-- Name: laboratories; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.laboratories (
    id integer NOT NULL,
    code character varying(64),
    name character varying(120) NOT NULL,
    description character varying(300) NOT NULL,
    segment character varying(64) NOT NULL,
    status character varying(32) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: laboratories_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.laboratories_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: laboratories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.laboratories_id_seq OWNED BY public.laboratories.id;


--
-- Name: remote_access_assignments; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.remote_access_assignments (
    id integer NOT NULL,
    run_id integer NOT NULL,
    provider character varying(32) NOT NULL,
    external_reference character varying(160) NOT NULL,
    launch_url character varying(1024) NOT NULL,
    status character varying(32) NOT NULL,
    expires_at timestamp with time zone NOT NULL
);


--
-- Name: remote_access_assignments_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.remote_access_assignments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: remote_access_assignments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.remote_access_assignments_id_seq OWNED BY public.remote_access_assignments.id;


--
-- Name: reset_operations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.reset_operations (
    id integer NOT NULL,
    laboratory_id integer NOT NULL,
    requested_by integer,
    scope character varying(32) NOT NULL,
    reason character varying(300) NOT NULL,
    status character varying(32) NOT NULL,
    started_at timestamp with time zone,
    completed_at timestamp with time zone,
    message character varying(500) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: reset_operations_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.reset_operations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: reset_operations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.reset_operations_id_seq OWNED BY public.reset_operations.id;


--
-- Name: roles; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.roles (
    id integer NOT NULL,
    name character varying(32) NOT NULL,
    description character varying(160) NOT NULL
);


--
-- Name: roles_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.roles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: roles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.roles_id_seq OWNED BY public.roles.id;


--
-- Name: student_groups; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.student_groups (
    id integer NOT NULL,
    name character varying(120) NOT NULL,
    code character varying(64) NOT NULL,
    description character varying(300) NOT NULL,
    is_active boolean NOT NULL,
    created_by integer,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    guacamole_group_identifier character varying(128)
);


--
-- Name: student_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.student_groups_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: student_groups_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.student_groups_id_seq OWNED BY public.student_groups.id;


--
-- Name: submissions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.submissions (
    id integer NOT NULL,
    user_id integer NOT NULL,
    challenge_id integer NOT NULL,
    flag_id integer,
    submitted_value_hmac character varying(64) NOT NULL,
    is_correct boolean NOT NULL,
    submitted_at timestamp with time zone DEFAULT now() NOT NULL,
    run_id integer,
    instance_id integer
);


--
-- Name: submissions_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.submissions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: submissions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.submissions_id_seq OWNED BY public.submissions.id;


--
-- Name: user_vm_connections; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.user_vm_connections (
    id integer NOT NULL,
    user_id integer NOT NULL,
    vm_id integer NOT NULL,
    guacamole_connection_id character varying(160) NOT NULL,
    connection_name character varying(160) NOT NULL,
    created_by integer,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: user_vm_connections_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.user_vm_connections_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: user_vm_connections_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.user_vm_connections_id_seq OWNED BY public.user_vm_connections.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username character varying(64) NOT NULL,
    email character varying(255),
    password_hash character varying(512) NOT NULL,
    role character varying(32) NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    full_name character varying(160),
    organization character varying(160),
    user_function character varying(80)
);


--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: vm_assets; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.vm_assets (
    id integer NOT NULL,
    laboratory_id integer NOT NULL,
    name character varying(120) NOT NULL,
    os character varying(120) NOT NULL,
    ip_address character varying(64),
    vlan character varying(32) NOT NULL,
    role character varying(120) NOT NULL,
    network_role character varying(64) NOT NULL,
    subnet character varying(64) NOT NULL,
    profile character varying(32) NOT NULL,
    baseline character varying(160),
    nutanix_vm_id character varying(160),
    status character varying(32) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    guacamole_connection_id character varying(160)
);


--
-- Name: vm_assets_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.vm_assets_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: vm_assets_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.vm_assets_id_seq OWNED BY public.vm_assets.id;


--
-- Name: audit_events id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.audit_events ALTER COLUMN id SET DEFAULT nextval('public.audit_events_id_seq'::regclass);


--
-- Name: challenge_completions id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.challenge_completions ALTER COLUMN id SET DEFAULT nextval('public.challenge_completions_id_seq'::regclass);


--
-- Name: challenge_flags id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.challenge_flags ALTER COLUMN id SET DEFAULT nextval('public.challenge_flags_id_seq'::regclass);


--
-- Name: challenge_group_assignments id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.challenge_group_assignments ALTER COLUMN id SET DEFAULT nextval('public.challenge_group_assignments_id_seq'::regclass);


--
-- Name: challenge_instances id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.challenge_instances ALTER COLUMN id SET DEFAULT nextval('public.challenge_instances_id_seq'::regclass);


--
-- Name: challenge_run_flags id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.challenge_run_flags ALTER COLUMN id SET DEFAULT nextval('public.challenge_run_flags_id_seq'::regclass);


--
-- Name: challenge_runs id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.challenge_runs ALTER COLUMN id SET DEFAULT nextval('public.challenge_runs_id_seq'::regclass);


--
-- Name: challenges id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.challenges ALTER COLUMN id SET DEFAULT nextval('public.challenges_id_seq'::regclass);


--
-- Name: group_memberships id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.group_memberships ALTER COLUMN id SET DEFAULT nextval('public.group_memberships_id_seq'::regclass);


--
-- Name: laboratories id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.laboratories ALTER COLUMN id SET DEFAULT nextval('public.laboratories_id_seq'::regclass);


--
-- Name: remote_access_assignments id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.remote_access_assignments ALTER COLUMN id SET DEFAULT nextval('public.remote_access_assignments_id_seq'::regclass);


--
-- Name: reset_operations id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.reset_operations ALTER COLUMN id SET DEFAULT nextval('public.reset_operations_id_seq'::regclass);


--
-- Name: roles id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.roles ALTER COLUMN id SET DEFAULT nextval('public.roles_id_seq'::regclass);


--
-- Name: student_groups id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.student_groups ALTER COLUMN id SET DEFAULT nextval('public.student_groups_id_seq'::regclass);


--
-- Name: submissions id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.submissions ALTER COLUMN id SET DEFAULT nextval('public.submissions_id_seq'::regclass);


--
-- Name: user_vm_connections id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_vm_connections ALTER COLUMN id SET DEFAULT nextval('public.user_vm_connections_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: vm_assets id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.vm_assets ALTER COLUMN id SET DEFAULT nextval('public.vm_assets_id_seq'::regclass);


--
-- Data for Name: audit_events; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: challenge_completions; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.challenge_completions (id, user_id, challenge_id, completed_at, awarded_points) FROM stdin;
1	8	23	2026-09-16 16:45:15.544334+00	100
2	10	23	2026-09-21 19:07:17.814912+00	100
\.


--
-- Data for Name: challenge_flags; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: challenge_group_assignments; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: challenge_instances; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.challenge_instances (id, challenge_id, vm_asset_id, run_id, user_id, state, ip_address, guacamole_connection_id, guacamole_access_granted, guacamole_access_preexisting, reserved_at, expires_at, last_error, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: challenge_run_flags; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: challenge_runs; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: challenges; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: group_memberships; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.group_memberships (id, group_id, user_id, created_at) FROM stdin;
1	1	3	2026-09-09 16:57:30.421483+00
4	3	8	2026-09-10 14:56:24.626758+00
6	4	9	2026-09-10 15:17:09.204279+00
8	2	8	2026-09-16 15:43:59.455967+00
9	5	10	2026-09-17 16:08:21.864746+00
10	3	10	2026-09-22 15:40:46.76129+00
\.


--
-- Data for Name: laboratories; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: remote_access_assignments; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: reset_operations; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.reset_operations (id, laboratory_id, requested_by, scope, reason, status, started_at, completed_at, message, created_at) FROM stdin;
\.


--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.roles (id, name, description) FROM stdin;
1	admin	Administraci├│n completa de la plataforma
2	instructor	Dise├▒o y seguimiento de retos
3	player	Participante de retos
4	guest	Consulta de solo lectura
\.


--
-- Data for Name: student_groups; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.student_groups (id, name, code, description, is_active, created_by, created_at, guacamole_group_identifier) FROM stdin;
1	roojo	001	hola	t	1	2026-09-09 16:57:10.852613+00	\N
3	grupo real	C001	grupo 1	t	1	2026-09-10 14:56:13.859165+00	C001
4	motes	LAB02	aprediz	t	1	2026-09-10 15:16:58.303684+00	LAB02
2	equipo rojo	002	equipo de ataque	t	1	2026-09-09 19:54:22.959008+00	002
5	verde	45HY	verde	t	1	2026-09-17 16:08:09.820019+00	45HY
\.


--
-- Data for Name: submissions; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: user_vm_connections; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.user_vm_connections (id, user_id, vm_id, guacamole_connection_id, connection_name, created_by, created_at) FROM stdin;
1	8	11	13	CTF-002-estudiante01-maquina 1	1	2026-09-16 15:44:10.687732+00
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: vm_assets; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: audit_events_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.audit_events_id_seq', 495, true);


--
-- Name: challenge_completions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.challenge_completions_id_seq', 2, true);


--
-- Name: challenge_flags_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.challenge_flags_id_seq', 56, true);


--
-- Name: challenge_group_assignments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.challenge_group_assignments_id_seq', 23, true);


--
-- Name: challenge_instances_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.challenge_instances_id_seq', 1, false);


--
-- Name: challenge_run_flags_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.challenge_run_flags_id_seq', 3, true);


--
-- Name: challenge_runs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.challenge_runs_id_seq', 86, true);


--
-- Name: challenges_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.challenges_id_seq', 54, true);


--
-- Name: group_memberships_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.group_memberships_id_seq', 10, true);


--
-- Name: laboratories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.laboratories_id_seq', 6, true);


--
-- Name: remote_access_assignments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.remote_access_assignments_id_seq', 44, true);


--
-- Name: reset_operations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.reset_operations_id_seq', 1, false);


--
-- Name: roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.roles_id_seq', 4, true);


--
-- Name: student_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.student_groups_id_seq', 5, true);


--
-- Name: submissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.submissions_id_seq', 18, true);


--
-- Name: user_vm_connections_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.user_vm_connections_id_seq', 1, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.users_id_seq', 10, true);


--
-- Name: vm_assets_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.vm_assets_id_seq', 11, true);


--
-- Name: audit_events audit_events_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.audit_events
    ADD CONSTRAINT audit_events_pkey PRIMARY KEY (id);


--
-- Name: challenge_completions challenge_completions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.challenge_completions
    ADD CONSTRAINT challenge_completions_pkey PRIMARY KEY (id);


--
-- Name: challenge_flags challenge_flags_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.challenge_flags
    ADD CONSTRAINT challenge_flags_pkey PRIMARY KEY (id);


--
-- Name: challenge_group_assignments challenge_group_assignments_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.challenge_group_assignments
    ADD CONSTRAINT challenge_group_assignments_pkey PRIMARY KEY (id);


--
-- Name: challenge_instances challenge_instances_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.challenge_instances
    ADD CONSTRAINT challenge_instances_pkey PRIMARY KEY (id);


--
-- Name: challenge_run_flags challenge_run_flags_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.challenge_run_flags
    ADD CONSTRAINT challenge_run_flags_pkey PRIMARY KEY (id);


--
-- Name: challenge_runs challenge_runs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.challenge_runs
    ADD CONSTRAINT challenge_runs_pkey PRIMARY KEY (id);


--
-- Name: challenges challenges_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.challenges
    ADD CONSTRAINT challenges_pkey PRIMARY KEY (id);


--
-- Name: group_memberships group_memberships_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.group_memberships
    ADD CONSTRAINT group_memberships_pkey PRIMARY KEY (id);


--
-- Name: laboratories laboratories_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.laboratories
    ADD CONSTRAINT laboratories_pkey PRIMARY KEY (id);


--
-- Name: remote_access_assignments remote_access_assignments_external_reference_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.remote_access_assignments
    ADD CONSTRAINT remote_access_assignments_external_reference_key UNIQUE (external_reference);


--
-- Name: remote_access_assignments remote_access_assignments_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.remote_access_assignments
    ADD CONSTRAINT remote_access_assignments_pkey PRIMARY KEY (id);


--
-- Name: remote_access_assignments remote_access_assignments_run_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.remote_access_assignments
    ADD CONSTRAINT remote_access_assignments_run_id_key UNIQUE (run_id);


--
-- Name: reset_operations reset_operations_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.reset_operations
    ADD CONSTRAINT reset_operations_pkey PRIMARY KEY (id);


--
-- Name: roles roles_name_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_name_key UNIQUE (name);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: student_groups student_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.student_groups
    ADD CONSTRAINT student_groups_pkey PRIMARY KEY (id);


--
-- Name: submissions submissions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.submissions
    ADD CONSTRAINT submissions_pkey PRIMARY KEY (id);


--
-- Name: challenge_group_assignments uq_challenge_group; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.challenge_group_assignments
    ADD CONSTRAINT uq_challenge_group UNIQUE (challenge_id, group_id);


--
-- Name: challenge_instances uq_challenge_instance_run; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.challenge_instances
    ADD CONSTRAINT uq_challenge_instance_run UNIQUE (run_id);


--
-- Name: challenge_instances uq_challenge_instance_vm_asset; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.challenge_instances
    ADD CONSTRAINT uq_challenge_instance_vm_asset UNIQUE (vm_asset_id);


--
-- Name: challenge_completions uq_completion_user_challenge; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.challenge_completions
    ADD CONSTRAINT uq_completion_user_challenge UNIQUE (user_id, challenge_id);


--
-- Name: group_memberships uq_group_member; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.group_memberships
    ADD CONSTRAINT uq_group_member UNIQUE (group_id, user_id);


--
-- Name: challenge_run_flags uq_run_flag; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.challenge_run_flags
    ADD CONSTRAINT uq_run_flag UNIQUE (run_id, flag_id);


--
-- Name: student_groups uq_student_group_name; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.student_groups
    ADD CONSTRAINT uq_student_group_name UNIQUE (name);


--
-- Name: user_vm_connections uq_user_vm_connection; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_vm_connections
    ADD CONSTRAINT uq_user_vm_connection UNIQUE (user_id, vm_id);


--
-- Name: user_vm_connections user_vm_connections_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_vm_connections
    ADD CONSTRAINT user_vm_connections_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: vm_assets vm_assets_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.vm_assets
    ADD CONSTRAINT vm_assets_pkey PRIMARY KEY (id);


--
-- Name: ix_audit_events_action; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_audit_events_action ON public.audit_events USING btree (action);


--
-- Name: ix_audit_events_actor_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_audit_events_actor_id ON public.audit_events USING btree (actor_id);


--
-- Name: ix_audit_events_created_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_audit_events_created_at ON public.audit_events USING btree (created_at);


--
-- Name: ix_challenge_completions_challenge_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_challenge_completions_challenge_id ON public.challenge_completions USING btree (challenge_id);


--
-- Name: ix_challenge_completions_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_challenge_completions_user_id ON public.challenge_completions USING btree (user_id);


--
-- Name: ix_challenge_flags_challenge_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_challenge_flags_challenge_id ON public.challenge_flags USING btree (challenge_id);


--
-- Name: ix_challenge_group_assignments_challenge_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_challenge_group_assignments_challenge_id ON public.challenge_group_assignments USING btree (challenge_id);


--
-- Name: ix_challenge_group_assignments_group_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_challenge_group_assignments_group_id ON public.challenge_group_assignments USING btree (group_id);


--
-- Name: ix_challenge_instances_challenge_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_challenge_instances_challenge_id ON public.challenge_instances USING btree (challenge_id);


--
-- Name: ix_challenge_instances_challenge_state; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_challenge_instances_challenge_state ON public.challenge_instances USING btree (challenge_id, state);


--
-- Name: ix_challenge_instances_run_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_challenge_instances_run_id ON public.challenge_instances USING btree (run_id);


--
-- Name: ix_challenge_instances_state; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_challenge_instances_state ON public.challenge_instances USING btree (state);


--
-- Name: ix_challenge_instances_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_challenge_instances_user_id ON public.challenge_instances USING btree (user_id);


--
-- Name: ix_challenge_instances_vm_asset_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_challenge_instances_vm_asset_id ON public.challenge_instances USING btree (vm_asset_id);


--
-- Name: ix_challenge_run_flags_fingerprint; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_challenge_run_flags_fingerprint ON public.challenge_run_flags USING btree (fingerprint);


--
-- Name: ix_challenge_run_flags_flag_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_challenge_run_flags_flag_id ON public.challenge_run_flags USING btree (flag_id);


--
-- Name: ix_challenge_run_flags_run_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_challenge_run_flags_run_id ON public.challenge_run_flags USING btree (run_id);


--
-- Name: ix_challenge_runs_challenge_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_challenge_runs_challenge_id ON public.challenge_runs USING btree (challenge_id);


--
-- Name: ix_challenge_runs_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_challenge_runs_status ON public.challenge_runs USING btree (status);


--
-- Name: ix_challenge_runs_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_challenge_runs_user_id ON public.challenge_runs USING btree (user_id);


--
-- Name: ix_challenges_category; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_challenges_category ON public.challenges USING btree (category);


--
-- Name: ix_challenges_code; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX ix_challenges_code ON public.challenges USING btree (code);


--
-- Name: ix_challenges_difficulty; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_challenges_difficulty ON public.challenges USING btree (difficulty);


--
-- Name: ix_challenges_mitre_technique; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_challenges_mitre_technique ON public.challenges USING btree (mitre_technique);


--
-- Name: ix_challenges_scenario; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_challenges_scenario ON public.challenges USING btree (scenario);


--
-- Name: ix_group_memberships_group_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_group_memberships_group_id ON public.group_memberships USING btree (group_id);


--
-- Name: ix_group_memberships_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_group_memberships_user_id ON public.group_memberships USING btree (user_id);


--
-- Name: ix_laboratories_code; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX ix_laboratories_code ON public.laboratories USING btree (code);


--
-- Name: ix_laboratories_name; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX ix_laboratories_name ON public.laboratories USING btree (name);


--
-- Name: ix_laboratories_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_laboratories_status ON public.laboratories USING btree (status);


--
-- Name: ix_reset_operations_created_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_reset_operations_created_at ON public.reset_operations USING btree (created_at);


--
-- Name: ix_reset_operations_laboratory_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_reset_operations_laboratory_id ON public.reset_operations USING btree (laboratory_id);


--
-- Name: ix_reset_operations_requested_by; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_reset_operations_requested_by ON public.reset_operations USING btree (requested_by);


--
-- Name: ix_reset_operations_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_reset_operations_status ON public.reset_operations USING btree (status);


--
-- Name: ix_student_groups_code; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX ix_student_groups_code ON public.student_groups USING btree (code);


--
-- Name: ix_student_groups_name; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_student_groups_name ON public.student_groups USING btree (name);


--
-- Name: ix_submissions_challenge_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_submissions_challenge_id ON public.submissions USING btree (challenge_id);


--
-- Name: ix_submissions_instance_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_submissions_instance_id ON public.submissions USING btree (instance_id);


--
-- Name: ix_submissions_run_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_submissions_run_id ON public.submissions USING btree (run_id);


--
-- Name: ix_submissions_submitted_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_submissions_submitted_at ON public.submissions USING btree (submitted_at);


--
-- Name: ix_submissions_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_submissions_user_id ON public.submissions USING btree (user_id);


--
-- Name: ix_user_vm_connections_guacamole_connection_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_user_vm_connections_guacamole_connection_id ON public.user_vm_connections USING btree (guacamole_connection_id);


--
-- Name: ix_user_vm_connections_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_user_vm_connections_user_id ON public.user_vm_connections USING btree (user_id);


--
-- Name: ix_user_vm_connections_vm_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_user_vm_connections_vm_id ON public.user_vm_connections USING btree (vm_id);


--
-- Name: ix_users_role; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_users_role ON public.users USING btree (role);


--
-- Name: ix_users_username; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX ix_users_username ON public.users USING btree (username);


--
-- Name: ix_vm_assets_guacamole_connection_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_vm_assets_guacamole_connection_id ON public.vm_assets USING btree (guacamole_connection_id);


--
-- Name: ix_vm_assets_laboratory_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_vm_assets_laboratory_id ON public.vm_assets USING btree (laboratory_id);


--
-- Name: ix_vm_assets_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_vm_assets_status ON public.vm_assets USING btree (status);


--
-- Name: uq_challenge_instances_vm_asset; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX uq_challenge_instances_vm_asset ON public.challenge_instances USING btree (vm_asset_id);


--
-- Name: uq_laboratories_code; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX uq_laboratories_code ON public.laboratories USING btree (code) WHERE (code IS NOT NULL);


--
-- Name: uq_student_groups_guacamole_identifier; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX uq_student_groups_guacamole_identifier ON public.student_groups USING btree (guacamole_group_identifier) WHERE (guacamole_group_identifier IS NOT NULL);


--
-- Name: audit_events audit_events_actor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.audit_events
    ADD CONSTRAINT audit_events_actor_id_fkey FOREIGN KEY (actor_id) REFERENCES public.users(id);


--
-- Name: challenge_completions challenge_completions_challenge_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.challenge_completions
    ADD CONSTRAINT challenge_completions_challenge_id_fkey FOREIGN KEY (challenge_id) REFERENCES public.challenges(id);


--
-- Name: challenge_completions challenge_completions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.challenge_completions
    ADD CONSTRAINT challenge_completions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: challenge_flags challenge_flags_challenge_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.challenge_flags
    ADD CONSTRAINT challenge_flags_challenge_id_fkey FOREIGN KEY (challenge_id) REFERENCES public.challenges(id) ON DELETE CASCADE;


--
-- Name: challenge_group_assignments challenge_group_assignments_challenge_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.challenge_group_assignments
    ADD CONSTRAINT challenge_group_assignments_challenge_id_fkey FOREIGN KEY (challenge_id) REFERENCES public.challenges(id) ON DELETE CASCADE;


--
-- Name: challenge_group_assignments challenge_group_assignments_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.challenge_group_assignments
    ADD CONSTRAINT challenge_group_assignments_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: challenge_group_assignments challenge_group_assignments_group_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.challenge_group_assignments
    ADD CONSTRAINT challenge_group_assignments_group_id_fkey FOREIGN KEY (group_id) REFERENCES public.student_groups(id) ON DELETE CASCADE;


--
-- Name: challenge_instances challenge_instances_challenge_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.challenge_instances
    ADD CONSTRAINT challenge_instances_challenge_id_fkey FOREIGN KEY (challenge_id) REFERENCES public.challenges(id) ON DELETE CASCADE;


--
-- Name: challenge_instances challenge_instances_run_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.challenge_instances
    ADD CONSTRAINT challenge_instances_run_id_fkey FOREIGN KEY (run_id) REFERENCES public.challenge_runs(id) ON DELETE SET NULL;


--
-- Name: challenge_instances challenge_instances_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.challenge_instances
    ADD CONSTRAINT challenge_instances_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: challenge_instances challenge_instances_vm_asset_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.challenge_instances
    ADD CONSTRAINT challenge_instances_vm_asset_id_fkey FOREIGN KEY (vm_asset_id) REFERENCES public.vm_assets(id) ON DELETE CASCADE;


--
-- Name: challenge_run_flags challenge_run_flags_flag_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.challenge_run_flags
    ADD CONSTRAINT challenge_run_flags_flag_id_fkey FOREIGN KEY (flag_id) REFERENCES public.challenge_flags(id) ON DELETE CASCADE;


--
-- Name: challenge_run_flags challenge_run_flags_run_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.challenge_run_flags
    ADD CONSTRAINT challenge_run_flags_run_id_fkey FOREIGN KEY (run_id) REFERENCES public.challenge_runs(id) ON DELETE CASCADE;


--
-- Name: challenge_runs challenge_runs_challenge_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.challenge_runs
    ADD CONSTRAINT challenge_runs_challenge_id_fkey FOREIGN KEY (challenge_id) REFERENCES public.challenges(id);


--
-- Name: challenge_runs challenge_runs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.challenge_runs
    ADD CONSTRAINT challenge_runs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: challenges challenges_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.challenges
    ADD CONSTRAINT challenges_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: group_memberships group_memberships_group_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.group_memberships
    ADD CONSTRAINT group_memberships_group_id_fkey FOREIGN KEY (group_id) REFERENCES public.student_groups(id) ON DELETE CASCADE;


--
-- Name: group_memberships group_memberships_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.group_memberships
    ADD CONSTRAINT group_memberships_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: remote_access_assignments remote_access_assignments_run_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.remote_access_assignments
    ADD CONSTRAINT remote_access_assignments_run_id_fkey FOREIGN KEY (run_id) REFERENCES public.challenge_runs(id) ON DELETE CASCADE;


--
-- Name: reset_operations reset_operations_laboratory_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.reset_operations
    ADD CONSTRAINT reset_operations_laboratory_id_fkey FOREIGN KEY (laboratory_id) REFERENCES public.laboratories(id) ON DELETE CASCADE;


--
-- Name: reset_operations reset_operations_requested_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.reset_operations
    ADD CONSTRAINT reset_operations_requested_by_fkey FOREIGN KEY (requested_by) REFERENCES public.users(id);


--
-- Name: student_groups student_groups_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.student_groups
    ADD CONSTRAINT student_groups_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: submissions submissions_challenge_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.submissions
    ADD CONSTRAINT submissions_challenge_id_fkey FOREIGN KEY (challenge_id) REFERENCES public.challenges(id);


--
-- Name: submissions submissions_flag_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.submissions
    ADD CONSTRAINT submissions_flag_id_fkey FOREIGN KEY (flag_id) REFERENCES public.challenge_flags(id);


--
-- Name: submissions submissions_instance_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.submissions
    ADD CONSTRAINT submissions_instance_id_fkey FOREIGN KEY (instance_id) REFERENCES public.challenge_instances(id) ON DELETE SET NULL;


--
-- Name: submissions submissions_run_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.submissions
    ADD CONSTRAINT submissions_run_id_fkey FOREIGN KEY (run_id) REFERENCES public.challenge_runs(id) ON DELETE SET NULL;


--
-- Name: submissions submissions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.submissions
    ADD CONSTRAINT submissions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: user_vm_connections user_vm_connections_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_vm_connections
    ADD CONSTRAINT user_vm_connections_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: user_vm_connections user_vm_connections_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_vm_connections
    ADD CONSTRAINT user_vm_connections_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_vm_connections user_vm_connections_vm_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_vm_connections
    ADD CONSTRAINT user_vm_connections_vm_id_fkey FOREIGN KEY (vm_id) REFERENCES public.vm_assets(id) ON DELETE CASCADE;


--
-- Name: vm_assets vm_assets_laboratory_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.vm_assets
    ADD CONSTRAINT vm_assets_laboratory_id_fkey FOREIGN KEY (laboratory_id) REFERENCES public.laboratories(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict nw6hBCj3yugiSx0hTDzGfZzyRMqH3IzHAa7peV0tJ27o9PFf0gTfHP09A5Q9AmD

